@font-face{font-family:'Amazing Grotesk';src:url(../fonts/amazing_grotesk_demi-webfont.eot);src:url(../fonts/amazing_grotesk_demi-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/amazing_grotesk_demi-webfont.woff2) format('woff2'),url(../fonts/amazing_grotesk_demi-webfont.woff) format('woff'),url(../fonts/amazing_grotesk_demi-webfont.ttf) format('truetype'),url(../fonts/amazing_grotesk_demi-webfont.svg#amazing_groteskdemibold) format('svg');font-weight:600;font-style:normal}
@font-face{font-family:'Amazing Grotesk';src:url(../fonts/amazing_grotesk_demi-webfont.eot);src:url(../fonts/amazing_grotesk_demi-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/amazing_grotesk_demi-webfont.woff2) format('woff2'),url(../fonts/amazing_grotesk_demi-webfont.woff) format('woff'),url(../fonts/amazing_grotesk_demi-webfont.ttf) format('truetype'),url(../fonts/amazing_grotesk_demi-webfont.svg#amazing_groteskdemibold) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:'Amazing Grotesk';src:url(../fonts/amazing_grotesk_ultra-webfont.eot);src:url(../fonts/amazing_grotesk_ultra-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/amazing_grotesk_ultra-webfont.woff2) format('woff2'),url(../fonts/amazing_grotesk_ultra-webfont.woff) format('woff'),url(../fonts/amazing_grotesk_ultra-webfont.ttf) format('truetype'),url(../fonts/amazing_grotesk_ultra-webfont.svg#amazing_groteskultra) format('svg');font-weight:900;font-style:normal}
*{margin:0;padding:0;box-sizing:border-box;background-position:center;background-repeat:no-repeat}
:not(a):after,:not(a):before,:not(br):after,:not(br):before,:not(img):after,:not(img):before,:not(span):after,:not(span):before{content:" ";display:block;width:100%;height:0;clear:both}
a:after,a:before,br:after,br:before,img:after,img:before,span:after,span:before,table:after,table:before,td:after,td:before,tr:after,tr:before{content:none}
.wrap{position:relative;margin:0 auto;max-width:480px;width:100%;min-width:480px;height:100%;z-index:2;text-align:center}
.clear{clear:both}
.section,section{width:100%;overflow:hidden;position:relative;z-index:1;min-width:480px}
h1,h2,h3,h4,h5{font-size:1em;font-weight:inherit;text-align:center}
body{font-weight:400;letter-spacing:.027em;font-family:Ubuntu,sans-serif;color:#fff}
a{text-decoration:none;color:inherit;outline:0!important}
#maket{width:100%;height:8530px;background:grey url(../img/maket.jpg) no-repeat center top;opacity:.4;position:absolute;left:0;top:75px}
.sec1{background:url(../img/bg_sec1.jpg) no-repeat center;height:800px;padding-top:42px}
.logo{background:url(../img/logo.png) no-repeat top center;width:100%;height:56px;background-size:contain}
h2{letter-spacing:2.9px;font-family:"Amazing Grotesk";text-transform:uppercase;font-weight:800}
p{text-align:left}
.sec1 h2{color:#000;margin-top:41px;letter-spacing:1px;font-size:21px;line-height:28px}
.animation{position:relative;top:200px;opacity:0;-webkit-transition:opacity .5s ease-in-out .5s,top .9s linear .1s;transition:opacity .5s ease-in-out .5s,top .9s linear .1s}
.animation.animated{top:0;opacity:1}
.sec1 p{color:#000;font-family:Ubuntu;font-size:23px;font-weight:400;line-height:27px;background:url(../img/diamond.png) no-repeat top center;margin-top:34px;letter-spacing:.5px;text-align:center;padding-top:73px}
.sec2{background:url(../img/bg_sec2.jpg) no-repeat center;height:800px;padding-top:39px}
.sec2 h2{font-size:22px;line-height:27px;letter-spacing:1.8px}
.sec2 p{color:#c9c9c9;font-family:Ubuntu;font-size:15px;font-weight:400;line-height:28px;padding:0 64px;margin-top:14px;letter-spacing:.6px}
.btn_ml{background:url(../img/btn_ml.png) no-repeat center,url(../img/shape.png) no-repeat right 34px center;width:299px;height:66px;display:inline-block;margin:29px 0;font-size:16px;font-weight:300;line-height:64px;text-align:left;padding-left:54px;letter-spacing: 1.7px;}
.btn_ml:hover{background: url(../img/btn_im2.png) no-repeat top center,url(../img/shape.png) no-repeat right 34px center;/* background-size: 76%; */}
.fon_silver{background:url(../img/bg_silver.png) no-repeat top center;width:769px;height:605px;display:inline-block;margin-top:34px;padding-left:68px}
.left{float:left;}
.right{float:right}
.fon_silver h3{font-family:"Amazing Grotesk";font-size:32px;font-weight:600;line-height:47px;text-transform:uppercase;text-align:left;margin-top:24px;letter-spacing:2.5px}
.fon_silver p{color:#909090;font-family:Ubuntu;font-size:17px;font-weight:400;line-height:28px;margin-right:-98px;margin-top:1px;letter-spacing:.7px;position:relative}
.fon_silver ul{margin-top:28px}
.fon_silver li{display:block;margin-bottom:3px}
.fon_silver a{color:#d3d3d3;font-family:Ubuntu;font-size:16px;font-weight:300;line-height:37px;display:inline-block;text-align:left;letter-spacing:.6px;padding:4px 0 0 31px;float:left;width:170px;height:49px}
.fon_silver a:hover{background:url(../img/btn_im1.png) no-repeat top center;background-size:contain;color:#fff}
.foto_im1{background:url(../img/fofo_m.jpg) no-repeat center}
.foto{width:318px;height:398px;margin-top:25px;display:inline-block}
.fon_silver p:after{content:"";background:url(../img/kav_im.png) no-repeat top center;width:92px;height:80px;position:absolute;bottom:-111px;right:-23px}
.sec3{background:#fff;padding-top:35px}
.sec3 h2{font-size:22px;line-height:30px;text-transform:uppercase;color:#000;margin-left:-2px;letter-spacing:.9px}
.fon_slider{background:url(../img/bg_slider.png) no-repeat top center;margin-top:19px}
.fon_slider h3{font-family:"Amazing Grotesk";font-size:25px;font-weight:600;line-height:41px;letter-spacing:1.1px;margin-top:2px}
.klib_im1{background:url(../img/klib_im1.jpg) no-repeat center}
.klib_im2{background:url(../img/klib_im2.jpg) no-repeat center}
.klib_im3{background:url(../img/klib_im3.jpg) no-repeat center}
.klib_im4{background:url(../img/klib_im4.jpg) no-repeat center}
.klib_im5{background:url(../img/klib_im5.jpg) no-repeat center}
.klib_im6{background:url(../img/klib_im6.jpg) no-repeat center}
.klib_im7{background:url(../img/klib_im7.jpg) no-repeat center}
.klib_im8{background:url(../img/klib_im8.jpg) no-repeat center}
.klib_im9{background:url(../img/klib_im9.jpg) no-repeat center}
.klib_im10{background:url(../img/klib_im10.jpg) no-repeat center}
.klib_im11{background:url(../img/klib_im11.jpg) no-repeat center}
.klib_im12{background:url(../img/klib_im12.jpg) no-repeat center}
.klient_b{width:264px;height:370px;margin-top:23px;display:inline-block}
.fon_slider p{font-family:"Amazing Grotesk";font-size:16px;font-weight:400;line-height:23px;letter-spacing:.7px;color:#4f4e4e;padding:25px 60px;text-align:center}
.str{width:36px;height:51px;border:1px solid #000}
.str_l{background:url(../img/str_l.png) no-repeat center}
.str_r{background:url(../img/str_r.png) no-repeat center}
.bx-wrapper{margin-bottom:0}
.str_slid1{width:100%;margin-top:37px;height:18px;text-align:center;display:inline-block;font-size:0}
.str_slid1 a{vertical-align:middle}
.sli{border-radius:7px;display:inline-block;/* margin:3px 3px; *//* width:14px; *//* height:14px; *//* border:1px solid #fff; */margin: 8px 9px;background: white;width: 8px;height: 8px;}
.sli.active,.sli:hover{width:18px;height:18px;background: #f4846a;border-radius:9px;margin: 1px 4px;border: none;}
.klient_sgr{font-size:0;letter-spacing:0;margin-top:103px;width:1003px;height:178px;display:inline-block;margin-left:-97px}
.klis_im1{background:url(../img/klib_im1.jpg) no-repeat center}
.klis_im2{background:url(../img/klib_im2.jpg) no-repeat center}
.klis_im3{background:url(../img/klib_im3.jpg) no-repeat center}
.klis_im4{background:url(../img/klib_im4.jpg) no-repeat center}
.klis_im5{background:url(../img/klib_im5.jpg) no-repeat center}
.klis_im6{background:url(../img/klib_im6.jpg) no-repeat center}
.klis_im7{background:url(../img/klib_im7.jpg) no-repeat center}
.klis_im8{background:url(../img/klib_im8.jpg) no-repeat center}
.klis_im9{background:url(../img/klib_im9.jpg) no-repeat center}
.klis_im10{background:url(../img/klib_im10.jpg) no-repeat center}
.klis_im11{background:url(../img/klib_im11.jpg) no-repeat center}
.klis_im12{background:url(../img/klib_im12.jpg) no-repeat center}
.klient_sgr a{display:inline-block;width:166px;height:178px;background-size:cover!important}
.klis_im1:hover{background:url(../img/klib_him1.jpg) no-repeat center}
.klis_im2:hover{background:url(../img/klib_him2.jpg) no-repeat center}
.klis_im3:hover{background:url(../img/klib_him3.jpg) no-repeat center}
.klis_im4:hover{background:url(../img/klib_him4.jpg) no-repeat center}
.klis_im5:hover{background:url(../img/klib_him5.jpg) no-repeat center}
.klis_im6:hover{background:url(../img/klib_him6.jpg) no-repeat center}
.klis_im7:hover{background:url(../img/klib_him7.jpg) no-repeat center}
.klis_im8:hover{background:url(../img/klib_him8.jpg) no-repeat center}
.klis_im9:hover{background:url(../img/klib_him9.jpg) no-repeat center}
.klis_im10:hover{background:url(../img/klib_him10.jpg) no-repeat center}
.klis_im11:hover{background:url(../img/klib_him11.jpg) no-repeat center}
.klis_im12:hover{background:url(../img/klib_him12.jpg) no-repeat center}
.sec4{background:url(../img/bg_sec4.jpg) no-repeat center;height:800px;padding-top:27px;font-size:0;background-size: cover;}
.sec4 h2{text-transform:none;letter-spacing:.9px;color:#000;font-family:"Amazing Grotesk";font-size:22px;line-height:32px;/* margin-bottom:19px */}
.log_gr{color:#6e6e6e;font-family:Ubuntu;font-size:18px;font-weight:400;text-align:center;line-height:28px;vertical-align:top;letter-spacing:.6px;margin: 15px 0 0 0;width: 400px;display: inline-block;}
.log_gr a{color:#000;font-family:"Amazing Grotesk";font-size:24px;font-weight:600;letter-spacing:.8px;width:100%;display:inline-block;line-height:25px}
.log_gr:hover span{-webkit-filter:grayscale(0);filter: grayscale(0);}
.log_gr span{width:100%;height: 91px;display:inline-block;margin:14px 0;-webkit-filter:grayscale(100%);-webkit-transition:all .25;transition:all .25s;filter: grayscale(100%);-moz-transition: all 0.25s;}
.log_im1{background:url(../img/tatler-h-logo.png) no-repeat center}
.log_im2{background:url(../img/bisnes-h-logo.png) no-repeat center}
.log_im3{background:url(../img/porter_h_logo.png) no-repeat center}
.log_im4{background:url(../img/microsoft-logo.png) no-repeat center}
.log_im5{background:url(../img/apteka_logo.png) no-repeat center}
.log_im6{background:url(../img/euroset_logo.png) no-repeat center}
.log_im7{background:url(../img/bilayn-logo.png) no-repeat center}
.log_im8{background:url(../img/com-logo.png) no-repeat center}
.log_im9{background:url(../img/wikimart-logo.png) no-repeat center}
.log_im1:hover{background:url(../img/tatler-h-logo.png) no-repeat center}
.log_im2:hover{background:url(../img/bisnes-h-logo.png) no-repeat center}
.log_im3:hover{background:url(../img/porter_h_logo.png) no-repeat center}
.log_im4:hover{background:url(../img/microsoft-h-logo.png) no-repeat center}
.log_im5:hover{background:url(../img/apteka_h_logo.png) no-repeat center}
.log_im6:hover{background:url(../img/euroset_h_logo.png) no-repeat center}
.log_im7:hover{background:url(../img/bilayn-h-logo.png) no-repeat center}
.log_im8:hover{background:url(../img/com-h-logo.png) no-repeat center}
.log_im9:hover{background:url(../img/wikimart-h-logo.png) no-repeat center}
.log_im9{height:69px!important}
.sec5{background:url(../img/bg_sec5.jpg) no-repeat top center;height:433px;padding-top:3%}
.sec5 h2{font-size:22px;line-height:23px;text-transform:none;padding:9% 100px;letter-spacing:2px}
.star_gr{width:1077px;height:906px;margin-top:15px;background:url(../img/star_big.png) no-repeat center;margin-left:-44px;position:relative;z-index:4}
.star_w span.p{display:block;-webkit-transition:all .4s;transition:all .4s}
.star_w.fadeouted span.p{opacity:.7;-webkit-transform:scale(.7);transform:scale(.7)}
.star_w.fadeouted span.span{-webkit-transform:scale(0);transform:scale(0)}
.star{font-family:Ubuntu;font-size:21px;font-weight:400;line-height:26px;text-align:center;margin:9px -30px;width:280px!important;height:160px;position:relative}
.star_p1{top:-.4%;right:30.8%}
.star_p2{top:10.6%;left:16.4%}
.star_p3{top:10.1%;left:36%}
.star_p4{top:17.7%;right:23.8%}
.star_p5{top:21.8%;left:40.7%}
.star_p6{top:32.3%;right:27.5%}
.star_p7{top:37.6%;right:0}
.star_p8{top:37.6%;left:11.3%}
.star_p9{top:41%;left:22.2%}
.star_p10{bottom:41.8%;right:30.1%}
.star_p11{bottom:39.8%;left:0}
.star_p12{bottom:35.3%;right:14%}
.star_p13{bottom:30.8%;left:25.8%}
.star_p14{bottom:20.6%;right:43.9%}
.star_p15{bottom:15.6%;left:20.8%}
.star_p16{bottom:8.3%;right:12.6%}
.star_p17{bottom:4.5%;right:39.6%}
.star_p18{bottom:0;left:30.5%}
.star_p1 p,.star_p2 p,.star_p3 p,.star_p4 p,.star_p5 p,.star_p6 p,.star_p7 p,.star_p8 p,.star_p9 p{background:url(../img/fon_star.png) no-repeat center;width:310px;height:139px;text-align:center;color:#000;font-family:Ubuntu;font-size:16px;font-weight:400;top:-100px;left:-133px;position:absolute;letter-spacing:.7px;line-height:19px;padding:50px 30px;background-size:cover;display:none}
.star_p10 p,.star_p11 p,.star_p12 p,.star_p13 p,.star_p14 p,.star_p15 p,.star_p16 p,.star_p17 p,.star_p18 p{background:url(../img/fon_starb.png) no-repeat center;width:310px;height:139px;text-align:center;color:#000;font-family:Ubuntu;font-size:16px;font-weight:400;top:5px;left:-133px;position:absolute;letter-spacing:.7px;line-height:19px;padding:50px 30px;background-size:cover;display:none}
.gr_s:hover p{display:block}
.gr_s:hover span{display:inline-block}
.sec6{background:url(../img/bg_sec6.jpg) no-repeat center;height:800px;padding-top:30px}
.sec6 h2{color:#000;font-size:22px;line-height:31px;text-transform:none;letter-spacing:.9px;padding:13px 0}
.kou_gr{color:#000;font-family:Ubuntu;font-size:18px;font-weight:400;line-height:30px;letter-spacing:.7px;padding:0 15px;margin:27px 0}
.kou_im1{background:url(../img/kou_im1.png) no-repeat center 6px}
.kou_im2{background:url(../img/kou_im2.png) no-repeat center 6px}
.kou_im3{background:url(../img/kou_im3.png) no-repeat center 6px}
.kou_im4{background:url(../img/kou_im4.png) no-repeat center 6px}
.sec7{background:url(../img/bg_sec7.jpg) no-repeat center 6px;height:800px;padding-top:27px}
.sec7 h2{color:#000;font-size:22px;line-height:44px;text-transform:none;letter-spacing:.9px;padding:11px 0}
.tur_gr{font-size:0;word-spacing:0}
.tur_t{color:#000;font-family:Ubuntu;font-size:18px;font-weight:400;line-height:22px;width:48%;text-align:center;display:inline-block;vertical-align:top;letter-spacing:.8px;word-spacing:0;height:165px;margin-bottom:20px}
.tur_t span{height:84px;display:inline-block;margin-bottom:15px}
.tur_im1{background:url(../img/compass-im.png) no-repeat center;height:84px;width:100%}
.tur_im2{background:url(../img/energi_im.png) no-repeat center;height:84px;width:100%}
.tur_im3{background:url(../img/resurs-im.png) no-repeat center;height:84px;width:100%}
.tur_im4{background:url(../img/love_im.png) no-repeat center;height:84px;width:100%}
.tur_im5{background:url(../img/karma_im.png) no-repeat center;height:84px;width:100%}
.lamp_gr{width:450px;border:3px solid #000;margin:14px 0;color:#000;font-family:"Amazing Grotesk";font-size:18px;font-weight:600;line-height:25px;display:inline-block;text-align:center;padding:32px 0;letter-spacing:.8px}
.sec8{background:url(../img/bg_sec8.jpg) no-repeat top center;height:800px;margin-top:7px;padding-top:36px}
.sec8 h2{font-size:22px;text-transform:none;line-height:31px;letter-spacing:1.9px}
.sec8 h2 span{display:inline-block;margin-top:11px;letter-spacing:.9px;color:#8d8d8d;font-family:Ubuntu;font-size:16px;font-weight:400;line-height:25px;padding:0 100px}
.tex{width:100%;margin-top:103px;letter-spacing:29px;padding:0 66px;position:relative}
.tex h3{letter-spacing:1px;margin-bottom:21px;font-weight:900;color:#676767;font-family:"Amazing Grotesk";font-size:20px;line-height:32px;text-transform:uppercase;width:45%;display:inline-block;-webkit-transition:all .25s;transition:all .25s}
.tex_w.active{display:block}
.tex_w{width:348px;position:absolute;left:66px;display:none}
.tex h3.active{color:#fff}
.tex h3 span{width:14px;height:14px;border-radius:7px;border:3px solid #676767;display:inline-block;cursor:pointer;-webkit-transition:all .25s;transition:all .25s}
.tex h3.active span{width:14px;height:14px;background-color:#fff;border:3px solid #fff}
.tex p{background:url(../img/done.png) no-repeat 0 0;padding-left: 90px;min-height:68px;letter-spacing: .7px;margin-bottom:36px;color:#afafaf;font-family:Roboto;font-size: 18px;font-weight:400;margin-top:19px;line-height:28px;}
.sec9{background:url(../img/bg_sec9.jpg) no-repeat top center;height:501px}
.sec9 h2{color:#000;font-size:21px;line-height:31px;text-transform:none;letter-spacing:1.5px;padding:24px 100px;font-weight:900}
.sec9 .wrap{max-width:1200px}
.video{background:url(../img/video.jpg) no-repeat center;height:258px;width:100%;position:relative;margin-bottom:15px}
.play{color:#fff;font-family:"Amazing Grotesk";font-size:16px;font-weight:600;line-height:43px;background:url(../img/play.png) no-repeat top center;padding-top:82px;position:absolute;letter-spacing:1.8px;top:50%;margin-top:-49px;left:50%;margin-left:-91px}
.sec10{padding: 25px 0px;width:100%;min-height: 566px;background-color:#0d1924;}
.sec10 h2{font-size: 22px;text-transform: none;line-height: 31px;letter-spacing: 1.9px;margin-bottom: 25px;}
.pop h2{font-size: 22px;text-transform: none;line-height: 31px;letter-spacing: 1.9px;color: black;/* margin-bottom: 7px; */}
.sec10 h3{color:#000;font-family:"Amazing Grotesk";font-size:35px;line-height:47px;font-weight:900;margin-top:70px;letter-spacing:1.3px}
.form_gr{font-size:0}
.form_gr a{width:350px;height:113px;border:2px solid #fefefe;display:inline-block;margin-bottom: 2px;color:#fefefe;font-family:Ubuntu;font-size:22px;font-weight:400;line-height:29px;text-align:center;padding-top:initial;vertical-align:top;letter-spacing:1.7px;padding:23px 0;}
.form_gr a:hover{background-color:#fefefe;border:2px solid #fefefe;color:#0d1924}
.sec11{background:url(../img/bg_sec11.jpg) no-repeat center;height:543px}
.sec11 h2{font-size:22px;line-height:31px;text-transform:none;letter-spacing:.9px;margin:31px 0}
.vid_otz{background:url(../img/vid_otz.jpg) no-repeat top center;height:270px;position:relative}
.play_v{background:url(../img/play_v.png) no-repeat top center;width:88px;height:67px;position:absolute;top:50%;margin-top:-36px;left:50%;margin-left:-44px}
.str_lv{background:url(../img/str_lv.png) no-repeat top center;width:31px;height:103px;left:0;position:absolute;top:50%;margin-top:-52px}
.str_rv{background:url(../img/str_rv.png) no-repeat top center;width:31px;height:103px;right:0;position:absolute;top:50%;margin-top:-52px}
.sec11 h3{font-family:"Amazing Grotesk";font-size:17px;font-weight:600;line-height:28px;text-transform:uppercase;text-align:left;letter-spacing:2.1px;padding:21px 96px}
.oval_gr{height:16px;display:inline-block;vertical-align:middle}
.oval_gr a{width:8px;height:8px;background-color:#fff;vertical-align:middle;display:inline-block;letter-spacing:0;border-radius:4px;margin:4px 7px}
.oval_gr a.active{width:16px;height:16px;border:2px solid #fff;border-radius:8px;margin:0 3px;background:0}
.sec12{background:#fff;height:670px}
.forma{width:100%;background-color:#f9f9f9;box-shadow:0 0 68px rgba(0,0,0,.2);display:inline-block;padding:26px 45px}
.forma h3{letter-spacing:.9px;color:#010101;font-family:"Amazing Grotesk";font-size:22px;line-height:31px;font-weight:900}
.forma h3 span{color:#000;font-family:Ubuntu;font-size:21px;font-weight:400;line-height:34px;display:inline-block;margin-top:17px;width:100%;letter-spacing:.8px;text-align:center}
.forma form{margin-top:36px}
form input:focus,form textarea:focus{background:#fff;color:#000;}
form input{width:100%;height:57px;background-color:#ebebeb;border:1px solid #cbcbcb;margin-bottom:34px;color:#6a6a6a;font-family:Ubuntu;font-size:18px;font-weight:300;line-height:34px;padding-left:28px;letter-spacing:.7px;outline:0;-webkit-transition:all .25s;transition:all .25s}
form textarea{width:100%;height:150px;background-color:#ebebeb;border:1px solid #cbcbcb;color:#6a6a6a;font-family:Ubuntu;font-size:18px;font-weight:300;line-height:34px;padding-left:28px;padding-top:10px;letter-spacing:.7px;margin-bottom:18px;outline:0;-webkit-transition:all .25s;transition:all .25s}
textarea{resize:none}
textarea::-moz-placeholder{color:#6a6a6a;font-family:Ubuntu;font-size:18px;font-weight:300;line-height:34px}
input::-moz-placeholder{color:#6a6a6a;font-family:Ubuntu;font-size:18px;font-weight:300;line-height:34px}
.btn_f{width:371px;height:64px;background: #6c6c6c;color: #fff!important;font-family:Ubuntu;font-size:24px;font-weight:400;line-height:33px;border-radius:30px;letter-spacing:1px;padding:0;cursor:pointer;margin-top:19px;}
.btn_f:hover{background: url(../img/btn_fh.png)no-repeat center;color: white;}
footer{background:#2a2a2a;width:100%;padding-bottom:39px}
footer a{color:#fff;font-family:Roboto;font-size:16px;font-weight:400;line-height:22px;float:left;margin-left:-22px;letter-spacing:.5px;margin-top:6px}
footer p{color:#fff;font-family:Roboto;font-size:16px;font-weight:400;line-height:22px;background:url(../img/gulf-logo.png) no-repeat right top;min-height: 44px;letter-spacing:.7px;display:inline-block;float:right;text-align:right;padding-right:237px;margin-right:65px;margin-top:6px;padding-top:10px;}
#mak{width:100%;height:1100px;background:url(../img/mak2.jpg) no-repeat center top;opacity:.4;position:absolute;top:13199px;left:0;z-index:4}
.ved_p1{width:100%;min-height: 800px;background:#fff;text-align:center;position:relative;padding: 38px 30px 30px 68px;}
.pop{background:#fff;text-align:center;position:relative;padding:50px}
.close{background:url(../img/close.png) no-repeat center;width:30px;height:30px;position:absolute;left:47px;top:41px}
.ved_p1 h2{color:#232323;font-size:24px;font-weight:600;line-height:47px;text-align:left;text-transform:none;letter-spacing:.9px;padding:12px 0}
.ved_p1 p{color:#000;font-family:Ubuntu;font-size: 16px;font-weight:400;line-height:22px;margin-top:12px;letter-spacing:.6px;}
.ved_p1 p span {font-weight:600}
.gr_s{position:absolute}
.stat{position:absolute}
.stat.span{height:16px;background:url(../img/line.png) repeat-x center;background-size:cover}
.star_b{background:url(../img/star_bim.png) no-repeat center;width:305px;height:305px;top:50%;left:50%;margin-top:-153px;margin-left:-153px;z-index:10;position:absolute}
.back{color: white!important;font-family: Roboto!important;font-size: 20px!important;font-weight: 400!important;background: url(../img/back_b.png) no-repeat left;letter-spacing: .3px!important;min-height:19px;background-size: inherit!important;padding-left: 51px!important;text-align: left!important;width: 100%!important;display: inline-block;margin-bottom: 20px;}
.back1{color: white!important;font-family: Roboto!important;font-size: 20px!important;font-weight: 400!important;background: url(../img/back_b.png) no-repeat left;letter-spacing: .3px!important;min-height:19px;/* background-size: inherit!important; */padding-left: 51px!important;/* text-align: left!important; *//* width: 100%!important; */display: inline-block;margin-top: 22px!important;}
.back2{color: white!important;font-family: Roboto!important;font-size: 20px!important;font-weight: 400!important;background: url(../img/back_b.png) no-repeat left;letter-spacing: .3px!important;min-height:19px;/* background-size: inherit!important; */padding-left: 51px!important;/* text-align: left!important; *//* width: 100%!important; */display: inline-block;margin-top: 22px!important;}
.pop .back{color: black!important;font-family: Roboto!important;font-size: 16px!important;font-weight: 400!important;background:url(../img/back.png) no-repeat 0 0;display: block!important;letter-spacing: .3px!important;min-height:19px;float: left!important;background-size: inherit!important;padding-left: 51px!important;text-align: left!important;width: 100%!important;margin-bottom:34px;}
.ved_p1 .back{color: black!important;font-family: Roboto!important;font-size: 16px!important;font-weight: 400!important;background:url(../img/back.png) no-repeat 0 0;display: block!important;letter-spacing: .3px!important;min-height:19px;float: left!important;background-size: inherit!important;padding-left: 51px!important;text-align: left!important;width: 100%!important;margin-bottom:34px;}
.pop form{margin-top: 20px;}
.pop form input{height:57px;margin-bottom:35px}
.pop .btn_f{height:64px;margin-top:28px;margin-bottom:0}
.wr_star{width:100%;position:relative}
.sld2w{height:190px;width:220px;margin:0 auto}
.sld2w .bx-viewport,.sld2w .bx-wrapper{overflow:visible!important}
.wr_line{position:absolute;top:0;left:0;width:100%;height:100%}
.star span.span{background:url(../img/star.png) no-repeat center;min-height:85px;display:inline-block;width:100%;margin-top:18px;-webkit-transition:all .7s;transition:all .7s;position:absolute;left:0;bottom:4px}
.line_star{background:url(../img/line_star.png) repeat-y top center;width:100%;min-height:14px;position:absolute;top:47.5%}
.str_slid2{width:100%;text-align:center;font-size:0;display:inline-block;margin:14px 0}
.str_slid2 a{vertical-align:middle}
.sli_s{border-radius:4px;display:inline-block;margin:8px 7px;background: white;width:8px;height:8px;/* opacity: 0.43; */}
.sli_s.active,.sli_s:hover{border-radius:8px;margin:0 3px;width:16px;height:16px;/* border:2px solid #fff; */background: #f4846a;}
.kou_gr span{width:80px;float:left;min-height:97px;margin-right:49px}
.logo_f{background:url(../img/logo_min.png) no-repeat center;width:100%;min-height:72px;margin:26px 0;display:inline-block}
.bak{background:url(../img/fon_fon.jpg) no-repeat top center;height:800px}
.arcticmodal-container,.arcticmodal-overlay{position:fixed;left:0;top:0;right:0;bottom:0;z-index:1000}
.arcticmodal-container{overflow:auto;margin:0;padding:0;border:0;border-collapse:collapse}
:first-child+html .arcticmodal-container{height:100%}
.arcticmodal-container_i{margin:0 auto;height:100%}
.arcticmodal-container_i2{margin:0;border:0;vertical-align:middle}
#hidden-box{display:none}
.error-input{border:1px solid red}
#okgo{width:100%;background:#fff;color:#000;text-align:center;font-size:24px;line-height:36px;padding:30px}
.pop_m{
    background: url(../img/bg_silver.png) no-repeat top center;
    width: 480px;
    padding: 50px;
    }
.pop_m ul{position:relative;/* top:4.628%; *//* height:68.76% */}
.pop_m li{display:block;position:relative;margin-bottom:2%;height: 44px;}
.pop_m a{color:#d3d3d3;font-family:Ubuntu;font-size: 20px;font-weight:300;line-height:37px;display:inline-block;text-align:left;-webkit-transition:background .25s;transition:background .25s;letter-spacing:.6px;padding:0 0 0 31px;float:left;position:relative;width: 200px;background-size:100% 100%;vertical-align:middle;height:100%;}
.pop_m a span{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);line-height:16px}
.pop_m a:hover:after{opacity:1}
.pop_m li a:after{content:"";background:url(../img/btn_im1.png) no-repeat top center;background-size:100% 100%;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;-webkit-transition:all .25s;transition:all .25s}
.pop_m a:hover{color:#fff;}
.list.s-visible{z-index: 2;opacity: 1;top: 0;}
.list {-webkit-animation-delay: 0.5s;animation-delay: 0.5s;z-index: -2;width: 100%;height: 100%;/* margin-top: 86px; *//* top: 21%; */opacity: 0;}
.nvis {display: none;}
.list form {width: 380px;margin: 0 auto;margin-top: 50px!important;}
.opi2 {
    line-height: 60px!important;
    margin-top: 60px;
}
